.antic-didone-regular {
  font-family: "Antic Didone", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 16px;
}

body {
  min-width: 500px;
  margin: auto;
  background-color: #010226;
}

header, footer{
  text-align: center;
  min-width: 500px;
  height: 50px;
  padding: 15px 0 75px 0;
  background-color: #fff;
  color: black;
}

.navLogo {
  font-size: 35px;
  font-weight: 550;
  padding: 10px;
  letter-spacing: 4px;
  font-family: "Antic Didone", serif;
  font-style: normal;
  text-transform: uppercase;
}

.jellyfish h2 {
  font-size: 28px;
  font-family: "Antic Didone", serif;
  color: black;
  margin-bottom: 0.25rem;
  text-transform: capitalize;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  gap: 1.5rem;
  justify-content: center;
  padding: 2rem;
}

.jellyfish {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #eee;
  padding: 1rem;
  overflow: hidden;
}

.jellyfish:hover {
  transform: scale(1.02); transition: all 0.3s ease; 
}

.jellyfish img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.rank {
  font-weight: bold;
  color: #c40e41;
  margin-bottom: 0.75rem;
  font-size: 20px;
}

.description {
  border-top: 1px solid #ddd;
  padding-top: 0.75rem;
  line-height: 1.5;
}
