* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 16px;
}

body {
  min-width: 500px;
  margin: auto;
  background-color: #010226;
}

header, footer{
  text-align: center;
  min-width: 500px;
  height: 50px;
  padding: 15px 0 30px 0;
  background-color: #fff;
  color: black;
}

.navLogo {
  font-size: 35px;
  font-weight: 550;
  padding: 10px;
  letter-spacing: 4px;
  font-family: "Didot", serif;
  font-style: normal;
}

footer p {
  font-size: .8rem;
}

img {
  width: 100%;
  height: auto;
}

.bear {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}
